#header_content #menu {
    position: absolute;
    bottom: 13px;
    margin: 0px;
	z-index:10;
}
#menu {
    right: 75px;
    padding: 0px;
}
#language_switcher {
    float:right;
    padding-top:15px;
}
li{
    float: left;
    list-style: none;
    position: relative;
}
a{
    float: left;
    list-style: none;
    position: relative;
}
#menu div {
    float: left;
    list-style: none;
    position: relative;
}
#menu a, #menu li:hover ul li a, #menu a:hover nav a {
    color: #ffffff;
    display: block;
    padding: 10px 18px;
    text-decoration: none;
    cursor: pointer;
	font-size:15px;
	font-weight:bolder;	
}
#menu li.selected a, #menu li:hover a, #menu li a:hover, #menu li ul li a:hover, #menu div.selected a, #menu a.selected, #menu a:hover, #menu div:hover > a {
    color: #32322b;
    background: #FC6;
}
#menu li ul{
    position: absolute;
    left: -99999px;
    padding: 0px;
    margin: 0px;
    min-width: 140px;
    max-width: 600px;
    background: white;
}
#menu nav {
    position: absolute;
    left: -99999px;
    padding: 0px;
    margin: 0px;
    min-width: 140px;
    max-width: 600px;
    background: white;
}
#menu li ul li, #menu nav a {
    float: left;
}
#menu li:hover ul, #menu div:hover nav {
    left: auto;
}
.menu_bar_unlink{
	font-size:24px;
	font-weight:600;
	color:#FC3;
	margin:4px 0 0 20px;
	float:right;
}